<div class="container">
    <h1>Calibrations Due</h1>
    <hr/>

    <form action="" id="filterForm" method="post" role="form">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="favourite">Filter by depot name</label>
                    <select id="favourite" name="favourite" class="form-control" [(ngModel)]="selectedDepotName">
                        <option *ngFor="let item of depotNames">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="!isRequesting">
                <pagination-controls class="text-right" (pageChange)="p = $event; page = p;" #api></pagination-controls>
            </div>
        </div>
    </form>
    <hr/>

    <p class="text-center" *ngIf="!isRequesting && (!calibrationsDue || calibrationsDue.length === 0 || !depotNames || depotNames.length === 1)">No data to display</p>

    <div class="table-responsive" *ngIf="calibrationsDue && calibrationsDue.length > 0 && depotNames && depotNames.length > 1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Date</th>
                    <th>Expiration</th>
                    <th>Registration</th>
                    <th>Technician</th>
                    <th>Customer</th>
                    <th>Vehicle Manufacturer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isRequesting">
                    <td colspan="8">
                        <spinner [isRunning]="isRequesting"></spinner>
                    </td>
                </tr>
                <tr *ngFor="let calibrationDue of calibrationsDue | depotname : selectedDepotName | paginate: { itemsPerPage: 10, currentPage: p }"
                class="pointer" (click)="downloadCertificate($event, calibrationDue)">
                    <td><img src="/img/{{calibrationDue.documentIcon}}.png" [attr.alt]="calibrationDue.documentType" /> </td>
                    <td>{{asDate(calibrationDue.date) | date}}</td>
                    <td>{{asDate(calibrationDue.expiration) | date}}</td>
                    <td>{{calibrationDue.registration}}</td>
                    <td>{{calibrationDue.technician}}</td>
                    <td>{{calibrationDue.customer}}</td>
                    <td>{{calibrationDue.vehicleManufacturer}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>