//colors
$color_storm_dust_approx: #666;
$white_30: rgba(255,255,255,.3);
$color_lochmara_approx: #0088cc;
$color_fuscous_gray_approx: #555;
$color_tundora_approx: #444;
$color_wild_sand_approx: #f5f5f5;
$color_gallery_approx: #eee;
$color_mine_shaft_approx: #333;
$color_suva_gray_approx: #888;
$white: #fff;
$color_celeste_approx: #ccc;

$black_5: rgba(0, 0, 0, 0.05);
$color_alto_approx: #ddd;
$color_wild_sand_approx: #f5f5f5;
$color_mountain_mist_approx: #999999;

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;

//urls
$url_0: url(../images/slide-bg.png);

%extend_1 {
	color: $color_mountain_mist_approx;
	background-color: transparent;
	cursor: default;
}

body {
    font-family: $font_0, $font_1;
    color: $color_storm_dust_approx;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 90px;
}

* {
    text-shadow: 0 1px 1px $white_30;
}

p {
    line-height: 24px;
}

a {
    color: #bd362f;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-family: $font_0, $font_1;
    font-size: 36px;
    font-weight: 200;
    color: $color_fuscous_gray_approx;
    margin-bottom: 20px;
}

h2 {
    font-family: $font_0, $font_1;
    font-size: 30px;
    font-weight: 300;
    color: $color_tundora_approx;
    margin: 30px 0;
}

h3 {
    font-family: $font_0, $font_1;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

h4 {
    font-family: $font_0, $font_1;
    font-size: 18px;
    font-weight: 400;
}

h5 {
    font-family: $font_0, $font_1;
}

h6 {
    font-family: $font_0, $font_1;
}

nav {
    background: $color_wild_sand_approx;
    border-bottom: 1px solid $color_gallery_approx;
    padding: 15px 0;

    .navbar-nav {
        margin: 10px 0 0;
    }

    &.navbar {
        margin-bottom: 0;
    }
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
    background: url(../images/slide-bg.png) no-repeat bottom center;

    .item {
        height: 500px;
    }
}

.carousel-caption {
    z-index: 10;
    bottom: 80px;

    p {
        color: #888;
        font-size: 24px;
        font-weight: 200;
    }

    a.btn {
        margin-top: 10px;
    }
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.hr-divider {
    background: $url_0 no-repeat bottom center;
    width: 1170px;
    height: 100px;
    margin-bottom: 50px;
    display: block;
    clear: both;
}

.feature-box {
    text-align: center;
}

.cnt-title {
    text-align: center;
    margin-bottom: 50px;

    span {
        font-size: 24px;
        font-weight: 200;
    }
}

.review {
    margin: 80px 0;
}

.page-header {
    border-bottom: 1px solid $color_wild_sand_approx;
}

.media {
    margin-bottom: 50px;
}

#map-canvas {
    height: 400px;
    border: 15px solid $white;
    box-shadow: 0 0 0 1px $color_wild_sand_approx;
}

.blog-post {
    border-bottom: 2px solid $color_wild_sand_approx;
    padding: 0 0 50px;
    margin-bottom: 40px;

    p {
        margin: 20px 0;
    }
}

.postmetadata {
    margin-bottom: 20px;
    padding: 5px 0;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }

    i {
        margin: 4px 5px 0 0;
    }
}

.side-bar {
    margin-bottom: 30px;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    h3 {
        margin-bottom: 10px;
    }
}

.recent-post {
    strong {
        display: block;
        margin-bottom: 5px;
        color: $color_suva_gray_approx;
    }

    li {
        margin-bottom: 15px;
    }
}

footer {
    border-top: 1px solid $color_gallery_approx;
    background: $color_wild_sand_approx;
    padding: 26px 0;
    color: $color_celeste_approx;
    margin-top: 40px;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

.thumbnail {
    h2 {
        font-size: 25px;
        text-align: center;
    }

    p {
        font-size: 16px;
        font-style: italic;
        text-align: center;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 5px;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

wc-app > undefined > .container {
    padding-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.btn.btn-primary, pagination-controls .pagination .current, .is-selected .pika-button, .pika-button:hover {
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25) !important;
    background-color: #da4f49 !important;
    *background-color: #bd362f !important;
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f) !important;
    background-repeat: repeat-x !important;
    border-color: #bd362f #bd362f #802420 !important;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

.pointer{
    cursor: pointer;
}

.card-container.card {
    max-width: 400px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signup{
    margin-bottom: 0;
}

.form-signup input[type=email],
.form-signup input[type=password],
.form-signup input[type=text],
.form-signup button {
    width: 100%;
    display: block;
    margin-top:5px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signup .two-buttons button {
    width: 49%;
    display: inline-block;
}

#profile-img{
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.ng2-pagination a, .pagination-previous.disabled span, .pagination-previous a::before, .pagination-previous.disabled::before, .ng2-pagination li.current span {
    font-size: 18px;
}

pagination-controls > ul > li.current{
    background: #da4f49 !important;
}

pagination-controls li.pagination-previous.disabled, pagination-controls li.pagination-next.disabled{
    visibility: hidden;
}

pagination-controls li.current{
    position:relative;
}

.ng-valid[required] {
  border-left: 5px solid #42A948;
}

.ng-invalid {
  border-left: 5px solid #a94442;
}

.pie-legend {
	list-style-type: none;
		
	li {
		display: inline;
		margin-left: 15px;
		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
		}
	}
}

@media(max-width: 1024px){
    hr{
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .card-container.card {
        margin-top: 20px;   
    }
}

@media(max-width: 1024px) {
    .carousel-caption {
        bottom: 20px;
        
        img {
            max-width: 80px;
            margin-top: 20px;
        }
    }
}

@media(max-width: 480px) {
    .carousel-caption {
        bottom: 85px;
    }
        
    .nav.navbar-nav{
        width:100%;
        text-align: center;
        
        ul.dropdown-menu{
            text-align: center;
        }
    }
}

@media(max-width: 768px){
    .card-container.card {        
        padding: 20px 20px;
    }
}

.pika-button {
    text-align: center;
}

.is-today .pika-button {
    color: #da4f49;
}