<div class="container">
    <h1>QC Check</h1>
    <hr/>
    <div class="row">
        <div class="col-xs-12" *ngIf="!isRequesting && qcChecks && qcChecks.length > 1">
            <pagination-controls class="text-right" (pageChange)="p = $event; page = p;" #api></pagination-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            
            <p class="text-center" *ngIf="!isRequesting && (!qcChecks || qcChecks.length === 0)">No data to display</p>
            
            <div class="table-responsive" *ngIf="qcChecks && qcChecks.length > 1">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Centre Name</th>
                            <th>Date</th>
                            <th>Manager Name</th>
                            <th>Technician Name</th>
                            <th class="text-center">3 Checks Completed?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isRequesting">
                            <td colspan="6">
                                <spinner [isRunning]="isRequesting"></spinner>
                            </td>
                        </tr>
                        <tr *ngFor="let qcCheck of qcChecks | paginate: { itemsPerPage: 10, currentPage: p }" class="pointer" (click)="downloadPdf($event, qcCheck)">
                            <td><img src="/img/qccheck.png" alt="QC Check" /> </td>
                            <td>{{qcCheck.centreName}}</td>
                            <td>{{asDate(qcCheck.date) | date}}</td>
                            <td>{{qcCheck.managerName}}</td>
                            <td>{{qcCheck.technician}}</td>
                            <td class="text-center" [innerHtml]="qcCheck.threeChecksCompleted | tick"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>