<div class="container">
  <h1>Change password</h1>
  <hr/>
  <form class="form-horizontal">
    <fieldset>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Current password</label>
        <div class="col-md-4">
          <input name="currentPassword" [(ngModel)]="currentPassword" type="password" class="form-control input-md" required>
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label">New password</label>
        <div class="col-md-4">
          <input name="newPassword" [(ngModel)]="newPassword" type="password" class="form-control input-md" required>
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Repeat new password</label>
        <div class="col-md-4">
          <input name="repeatPassword" [(ngModel)]="repeatPassword" type="password" class="form-control input-md" required>
        </div>
      </div>

      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="bCancel"></label>
        <div class="col-md-8">
          <button class="btn btn-primary" (click)="updatePassword()">Change</button>
          <button class="btn btn-secondary">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>

</div>
