<div class="container">
    <h1>Recent Calibrations</h1>
    <hr/>

    <form role="form">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="depotName">Filter by depot name</label>
                    <select id="depotName" name="depotName" class="form-control" [(ngModel)]="selectedDepotName" required>
                        <option *ngFor="let item of depotNames">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <date-picker label="From" (dateChanged)="fromChanged($event)" date="{{from}}"></date-picker>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <date-picker label="To" (dateChanged)="toChanged($event)" date="{{to}}"></date-picker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <wc-button [isDisabled]="isRequesting" (click)="search()" [style]="'btn btn-primary'" [label]="'Search'" [workingLabel]="'Searching...'"></wc-button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <pagination-controls class="text-right" [id]="paginationConfig.id" [autoHide]="true" [directionLinks]="true" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </form>
    <hr/>

    <p class="text-center" *ngIf="!isRequesting && (!recentCalibrations || recentCalibrations.length === 0)">No data to display</p>

    <spinner *ngIf="isRequesting" [isRunning]="isRequesting"></spinner>

    <div class="table-responsive" *ngIf="recentCalibrations && recentCalibrations.length > 0">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Company Name</th>
                    <th>Doc Type</th>
                    <th>Expiration</th>
                    <th>Registration</th>
                    <th>Technician</th>
                    <th>Customer</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recentCalibration of filteredCalibrations | paginate: paginationConfig"
                    class="pointer" (click)="downloadCertificate($event, recentCalibration)">
                    <td>
                        <img src="'/images/' + recentCalibration.documentIcon + '.png'" [attr.alt]="recentCalibration.documentType" />
                    </td>
                    <td>{{recentCalibration.companyName}}</td>
                    <td>{{recentCalibration.documentType}}</td>
                    <td>{{asDate(recentCalibration.expiration) | date}}</td>
                    <td>{{recentCalibration.registration}}</td>
                    <td>{{recentCalibration.technician}}</td>
                    <td>{{recentCalibration.customer}}</td>
                    <td>
                        <div class="no-wrap">
                            <button class="btn btn-secondary" (click)="emailCertificate($event, recentCalibration)">Email</button>
                            <button class="btn btn-secondary" (click)="editCustomer(recentCalibration.customer)">Edit Customer</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <wc-button [isDisabled]="isDownloading" [label]="'Download'" [workingLabel]="'Downloading...'" (click)="downloadGridData()"></wc-button>
                        <wc-button [isDisabled]="isEmailing" [label]="'Email'" [workingLabel]="'Emailing...'" (click)="emailGridData()"></wc-button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="row" *ngIf="recentCalibrations && recentCalibrations.length > 0">
        <div class="col-xs-12 col-sm-offset-9 col-sm-3">
            <div class="form-group">
                <label for="vehicleRegistration">Filter by vehicle registration</label>
                <input type="text" id="vehicleRegistration" name="vehicleRegistration" class="form-control" (keyup)="registrationChanged(vehicleRegistration)" [(ngModel)]="vehicleRegistration">
            </div>
        </div>
    </div>
</div>