<div class="container">
    <div class="card card-container">
        <form role="form" class="form-signup" (ngSubmit)="submit()" #form="ngForm">
            <div *ngIf="_validationErrors" [innerHtml]="_validationErrors" class="alert alert-danger"></div>
            <div class="form-group has-feedback">
                <label for="password">Enter a password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="_tokens.password" required>
            </div>
            <div class="form-group has-feedback">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="_confirmPassword" required>
            </div>
            <div>
                <wc-button [isDisabled]="_isRequesting" [style]="'btn btn-lg btn-primary btn-block btn-signin'" [label]="'Set Password'" [workingLabel]="'Setting Password...'"></wc-button>
            </div>
        </form>
    </div>
</div>