<div class="container">
    <h1>Centre Check</h1>
    <hr/>
    <div class="row">
        <div class="col-xs-12" *ngIf="!isRequesting">
            <pagination-controls class="text-right" (pageChange)="p = $event; page = p;" #api></pagination-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Centre Name</th>
                            <th>Seal Number</th>
                            <th>Date</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isRequesting">
                            <td colspan="6">
                                <spinner [isRunning]="isRequesting"></spinner>
                            </td>
                        </tr>
                        <tr *ngFor="let centreCheck of centreChecks | paginate: { itemsPerPage: 10, currentPage: p }" class="pointer" (click)="downloadPdf($event, centreCheck)">
                            <td><img src="/img/centrecheck.png" alt="Centre Check" /> </td>
                            <td>{{centreCheck.centreName}}</td>
                            <td>{{centreCheck.sealNumber}}</td>
                            <td>{{asDate(centreCheck.date) | date}}</td>
                            <td>{{centreCheck.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>