<div class="container">
  <h1>Certificate Upload</h1>
  <hr/>

  <form role="form">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <label>Select and upload documents to the repository</label>
          <div class="fileUpload btn btn-primary" *ngIf="!isUploading">
            <input id="fileUpload" name="fileUpload" type="file" class="upload" accept=".pdf" (change)="selectionChanged($event)" multiple />
            <label for="fileUpload">Select certificate(s)</label>
          </div>
          <div class="progress" *ngIf="isUploading">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100" [style.width]="uploadProgress + '%'">
              {{uploadProgress}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <pagination-controls class="text-right" [id]="paginationConfig.id" [autoHide]="true" [directionLinks]="true" (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
    </div>
  </form>
  <hr/>

  <p class="text-center" *ngIf="!isRequesting && (!uploadedCertificates || uploadedCertificates.length === 0)">No data to display</p>

  <spinner *ngIf="isRequesting" [isRunning]="isRequesting"></spinner>

  <div class="table-responsive" *ngIf="uploadedCertificates && uploadedCertificates.length > 0">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Uploaded</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let uploadedCertificate of uploadedCertificates | paginate: paginationConfig"
          class="pointer" (click)="downloadCertificate(uploadedCertificate)">
          <td>{{uploadedCertificate.fileName}}</td>
          <td>{{asDate(uploadedCertificate.uploaded) | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>