<div class="container">
    <h1>Manage Access</h1>
    <hr/>

    <form action="" id="filterForm" method="post" role="form">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="selectUser">Select user</label>
                    <select id="selectUser" name="selectUser" class="form-control" #site [(ngModel)]="_selectedSite" (change)="getConnectedSites(site.value, site)">
                        <option [value]="item.id" *ngFor="#item of _users" #index>{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <hr/>

    <spinner [isRunning]="_isRequesting"></spinner>
    
    <p class="text-center" *ngIf="!_isRequesting && _selectedSite && (!_connectedSites || _connectedSites.length === 0)">No data to display</p>

    <table class="table table-striped table-hover table-responsive" *ngIf="_connectedSites && _connectedSites.length > 0 && !_isRequesting">
        <thead>
            <tr>
                <th>Site Description</th>
                <th class="actions">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#site of _connectedSites">
                <td>{{site.description}}</td>
                <td class="actions">
                    <animated-button [IsDisabled]="_isUpdating" [Type]="'secondary pull-right'" [Label]="site.isRevoked ? 'Authorize' : 'Revoke'" [WorkingLabel]="site.isRevoked ? 'Authorize' : 'Revoke'" (click)="toggleAccess(site)"></animated-button>
                </td>
            </tr>
        </tbody>
    </table>

</div>