.dashboard-menu {
    margin-top: 40px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    
    div.dashboard-menu-item {
        text-align: center;
        height: 140px;
        border-radius: 10px;
        margin-bottom: 20px;
        
        a{
            color:#666;   
            
            &:hover{
                color:#fff;
            }
        }

        p {
            padding-top: 20px;
        }

        &:hover {
            background-color: #bd362f;
            color: #fff;
        }
    }
}
