<div class="container">
    <h1>Dashboard</h1>
    <hr />
    <ul class="dashboard-menu">
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-history fa-4x"></i><br /><span>Recent Calibrations</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-truck fa-4x"></i><br /><span>Search My Depot</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-list-alt fa-4x"></i><br /><span>Calibrations Due This Month</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-envelope fa-4x"></i><br /><span>Generate Email Report</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-search fa-4x"></i><br /><span>Inspection Data</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-users fa-4x"></i><br /><span>Revoke Access</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-certificate fa-4x"></i><br /><span>Software Licenses</span></p>
        </li>
        <li class="col-xs-6 col-md-4">
            <p><i class="fa fa-at fa-4x"></i><br /><span>Register User</span></p>
        </li>
    </ul>
</div>